/* General styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Popup styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Adjust the z-index to ensure it appears above other content */
}

/* Profile picture preview */
.profile-preview {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%; /* Make it appear as a circle */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* To evenly space the logo and nav links */
  background-color: #333;
  color: white;
  padding: 10px;
}

.logo {
  margin-right: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer h4 {
  color: white;
}

.footer p {
  margin-bottom: 5px;
}
