.Messages {
    display: flex;
}

.message-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-height: 550px;
    overflow-y: auto;
}

.ConversationList {
    flex: 1;
}

.MessageList {
    flex: 3;
}

.MessageList ul {
    list-style-type: none;
    padding: 0;
}

.MessageList li {
    margin-bottom: 10px;
    Width: 45%;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.message-content {
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 100%;
}


.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.message-sender {
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: bold;
    order: 1;
    padding-right: 5%;
    
}

.message-time {
    font-size: 0.8em;
    margin-top: 5px;
    order: 2;
    padding-left: 5%;
}

.sent .message-info,
.received .message-info {
  flex-direction: row-reverse; /* Reverse the order for received messages */
}

.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
    /* Light green for sent messages */
    border-top-right-radius: 5px; /* Rounded corners for sent messages */
    border-bottom-right-radius: 5px;
    margin-left: auto; /* Move sent messages to the right */
}

.received {
    align-self: flex-start;
    background-color: #F3F3F3;
    /* Light gray for received messages */
    border-top-left-radius: 5px; /* Rounded corners for received messages */
    border-bottom-left-radius: 5px;
    margin-right: auto; /* Move received messages to the left */
}

.ConversationList ul {
    padding: 0;
}

.ConversationList button {
    width: 80%;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.ConversationList button:hover {
    background-color: #e0e0e0;
}

.ConversationList button:focus {
    outline: none;
}

.read-status {
    color: #4CAF50; /* Green color for read status */
    padding-right: 15px;
}

.unread-status {
    color: #F44336; /* Red color for unread status */
    padding-right: 15px;
}

.unread-indicator {
    position: absolute;
    top: 5px;
    right: -10px;
    background-color: #F44336; /* Red color for unread indicator */
    color: #fff;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 50%;
}

.notification-count {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336; /* Red color for notification count */
    color: #fff;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 50%;
}

.ConversationList .delete-button {
    width: auto;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    height: 10%;
  }
  
  .ConversationList .delete-button i {
    font-size: 0.8rem;
    color: #999;
  }
  .ConversationList .delete-button:hover {
    background-color: #FF6347;
}